* {
    
    margin: 0;
    padding: 0;
    text-align: center;
    
}
:root {
    --cor0: #000000;
    --cor1: rgb(136, 130, 130);
    --cor2: rgb(255, 255, 255);
    --cor3: #757575;

}


html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.cabecalho {
    
    color: var(--cor2);
    padding: 30px;
    text-align: center;
}
.conteudo {
    flex: 1 0 auto;
}
.logo {
    width: 70px;
    height: 70px;
    margin-left: -1300px;
 }
 
 nav li {
     
     display: inline;
     margin:0 0 0 15px;
  
 }
 
 nav {
     text-transform:uppercase;
     color: var(--cor0);
     font-weight: bold;
     font-size: 20px;
     margin-left: +875px;
 }
 .decoracao-menu-nav {
     text-decoration: none;
     color: var(--cor0);
 }
 .hover-nav :hover{
     color: var(--cor1);
     text-decoration: none;
     
 }
 
 .container1 {
     color: var(--cor2);
     background-color: var(--cor0);
     display: flex;
 }
 
 .modelos {
     width: 1220px;
     height: 600px;
    
 }
 
 
 .produtos-masculinos li {
    display:inline-block;
    text-align: center;
    width: 13%;
    font-size: 18px;
    text-align: left; 
    
      
}
 .botao {
     font-size: 25px;
     background-color: var(--cor2);
     margin-left: +105px;
     
 
 }
 .botao:hover {
    
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
 
.rodape {
    flex-shrink: 0;
    background-color: var(--cor0);
    color: var(--cor2);
    padding: 30px;
    text-align: center;
}
 .politica-de-privacidade {
     color: var(--cor2);
     text-align: left;
     font-size: 25px;
     display: inline-flex;
     margin-left: +550px;
 }
 .termos-de-condicoes {
     color: var(--cor2);
     font-size: 25px;
     display: inline-flex;
     margin-left: +550px;
     
 }
 .copyright {
     color: var(--cor3);
     font-size: 20px;
     margin: 20px 0 0;
     margin-left: -730px;
 }